.section {
  padding-bottom: 200px;
}
.cardWrapper {
  padding: 1px;
  border-radius: 12px;
  background: linear-gradient(to bottom, #adaaaa, #414040);
  display: inline-block;
  transition: box-shadow 0.3s ease;
}

.cardWrapper:hover {
  box-shadow: 0 0 24px 6px rgba(109, 28, 207, 0.6);
}

.blogContainer {
  border-radius: 12px;
  background-color: #0d0d0f;
  width: 392px;
  height: 493px;
  overflow: hidden;
  padding: 16px;
  transition: background-color 0.3s ease;
}

.cardWrapper:hover .blogContainer {
  background-color: #000116;
}

.image {
  border-radius: 2px;
  width: 344px;
  height: 183px;
}
