.section {
  padding-bottom: 160px;
  position: relative;
  @include media(desktop) {
    padding-bottom: 200px;
  }
}
.title {
  font-weight: 500;
  @include font(40, 52);
  text-transform: uppercase;
  margin-bottom: 12px;
  text-align: left;

  @include media(tablet) {
    @include font(64, 83);
    margin-bottom: 24px;
    width: 450px;
  }

  @include media(desktop) {
    @include font(80, 104);
    width: auto;
  }
}

.titleSpan {
  background: linear-gradient(30deg, #9624e2 0%, #02079d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  font-weight: 600;
  @include font(20, 29);
  text-align: left;
  margin-bottom: 100px;
  width: 250px;
  color: #dadbe6;
  position: relative;
  z-index: 5;
  @include media(tablet) {
    width: auto;
  }
  @include media(desktop) {
    @include font(24, 38);
    width: auto;
  }
}

.spanDescription {
  font-weight: 400;
}

.line {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background: linear-gradient(180deg, #000 0%, #fff 50%, #000 100%);
  z-index: 0;
  right: 20px;

  @include media(tablet) {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }
}
.wrapper {
  position: relative;
}
.lineContainer {
  @include media(tablet) {
    position: relative;
  }
}
