.title {
  font-weight: 500;
  @include font(34, 44);
  margin-bottom: 16px;
  text-align: center;
  @include media(tablet) {
    @include font(48, 62);
    margin-right: auto;
  }
  @include media(desktop) {
    @include font(48, 62);
  }
}

.description {
  font-weight: 400;
  @include font(19, 25);
  color: #c2c7d1;
  margin-bottom: 32px;
  @include media(tablet) {
    @include font(24, 31);
    margin-right: auto;
  }
  @include media(desktop) {
    @include font(24, 31);
  }
}
.listItem {
  font-weight: 300;
  @include font(20, 26);
  border-radius: 24px;
  padding: 12px 24px;
  width: 274px;
  background: transparent;
  position: relative;
  z-index: 0;
  overflow: hidden;
  text-align: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1px;
    background: linear-gradient(135deg, #9624e2, #0102b9);
    border-radius: 24px;
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
  }

  @include media(tablet) {
    @include font(20, 26);
    border-radius: 24px;
    padding: 8px 20px;
    width: auto;
    height: 42px;
  }

  @include media(desktop) {
    @include font(20, 26);
  }
}

.item {
  border-radius: 4px;
  padding: 32px;
  width: 338px;
  max-width: 100%;
  height: auto;

  background: radial-gradient(
      circle at right center,
      rgb(174 25 209 / 29%) 10%,
      rgba(0, 0, 0, 0.1) 50%
    ),
    #010227;
  transition:
    width 0.5s ease,
    opacity 0.5s ease;
  border: 1px solid;
  border-image: linear-gradient(to bottom, #adaaaa59, #414040ad) 1;
  padding: 32px;
  overflow: hidden;
  position: relative;
  @include media(tablet) {
    padding: 44px 32px;
    width: 597px;
    height: auto;
  }

  @include media(desktop) {
    @include font(20, 26);
    font-size: 20px;
    display: flex;
    line-height: 1.3;
    flex-direction: column;
  }
}
.containerContent {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media(desktop) {
    margin-bottom: auto;
  }
}

.featureItem {
  margin-bottom: 16px;
}
.cta {
  font-weight: 700;
  @include font(24, 31);
  word-break: break-word;
}
.ContainerClick {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media(tablet) {
    gap: 140px;
  }
}
.features {
  margin-bottom: 64px;
  @include media(tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 0px;
    justify-content: center;
    margin-bottom: 50px;
    justify-content: flex-start;
  }
}
.featuresVideo {
  @include media(tablet) {
    margin-bottom: 80px;
  }
  @include media(desktop) {
    margin-bottom: 120px;
  }
}
