.buttonPresents {
  border-radius: 32px !important;
  padding: 20px 48px !important;
  width: auto !important;
  height: 68px !important;
  font-weight: 500 !important;
  font-size: 20px !important;
  line-height: 130% !important;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    .iconPresents {
      stroke: black;
      animation: shake 0.3s ease infinite;
    }
  }

  @include media(tablet) {
    border-radius: 32px !important;
    padding: 20px 48px !important;
    width: auto !important;
    height: 68px !important;
  }
}

.buttonSpan {
  display: flex !important;
  align-items: center !important;
  gap: 20px !important;
}

.iconPresents {
  width: 21px;
  height: 21px;
  stroke: white;
  fill: none;
  transition: all 0.3s ease;
  flex-shrink: 0;

  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
    75% {
      transform: translateX(-5px);
    }
    100% {
      transform: translateX(5px);
    }
  }
}
