.section {
  padding-bottom: 150px;
}
.title {
  font-weight: 500;
  font-size: 80px;
  line-height: 130%;
  text-transform: uppercase;
}

.titleAnd {
  font-weight: 700;
  background: linear-gradient(30deg, #9624e2 0%, #02079d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 146%;
}
.titleOpen {
  font-weight: 500;
  font-size: 24px;
  line-height: 136%;
}
.descriptionOpen {
  font-weight: 400;
  font-size: 18px;
  line-height: 146%;
}
.icon {
  width: 28px;
  height: 28px;
}
.containerIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.containerList {
  border-radius: 4px;
  width: 808px;
  overflow: hidden;
  padding: 24px 18px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border: 1px solid;
  border-image: linear-gradient(to bottom, #adaaaa, #414040) 1;

  background: radial-gradient(
    circle at bottom right,
    rgba(206, 99, 235, 0.237) 5%,
    rgb(2 7 157 / 0%) 20%,
    rgba(42, 48, 191, 0) 50%
  );
  transition: background 0.26s ease-in-out;
}

.containerList:hover {
  background: radial-gradient(
    circle at bottom right,
    rgb(206 99 235 / 60%) 5%,
    rgba(2, 7, 157, 0) 20%,
    rgba(42, 48, 191, 0) 50%
  );
}

.containerIcon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  width: 28px;
  height: 28px;
  transition: transform 0.3s ease;
}

.iconRotated {
  transform: rotate(45deg) rotateY(180deg);
  transform-origin: center;
}

// background: radial-gradient(
//   circle at bottom right,
//   rgba(206, 99, 235, 0.6) 5%,
//   rgba(2, 7, 157, 0.3) 30%,
//   rgb(42 48 191 / 0%) 50%
// );
