.section {
  padding-bottom: 150px;
  transition: all 0.5s ease-in-out;
}

.title {
  font-weight: 500;
  font-size: 40px;
  line-height: 130%;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
  margin-bottom: 32px;
  @include media(tablet) {
    font-size: 64px;
    line-height: 130%;
    margin-bottom: 40px;
  }
  @include media(desktop) {
    font-size: 80px;
    line-height: 130%;
  }
}

.titleAnd {
  font-weight: 700;
  background: linear-gradient(30deg, #9624e2 0%, #02079d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.5s ease-in-out;
}

.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 146%;
  transition: all 0.5s ease-in-out;
  margin-bottom: 64px;
  @include media(tablet) {
    margin-bottom: 80px;
  }
  @include media(desktop) {
    margin-bottom: 0px;
  }
}

.containerContent {
  display: flex;
  flex-direction: column;

  @include media(desktop) {
    flex-direction: row;
    gap: 24px;
  }
}
