// /* .section {
//   background: url("../../../../public//image//holonix.png");
//   height: 100vh;
//   width: 100%;
//   background-size: cover;
//   background-position: center;
//   animation: pulse 22s ease-in-out infinite;
//   transition: transform 0.1s ease;
// } */

// .title {
//   font-weight: 700;
//   color: white;
//   width: 300px;
//   font-size: 35px;
//   @include media(tablet) {
//     font-size: 38px;
//     width: 500px;
//   }
//   @include media(desktop) {
//     width: 650px;
//     font-size: 42px;
//     line-height: 130%;
//   }
// }

// .description {
//   font-weight: 500;
//   font-size: 18px;
//   color: white;
//   text-align: left;

//   @include media(tablet) {
//     font-size: 20px;
//   }
//   @include media(desktop) {
//     font-size: 24px;
//     line-height: 136%;
//   }
// }
// .container {
//   padding: 10px;
// }

// @media (min-width: 768px) {
//   .title {
//     font-size: 42px;
//   }
//   .description {
//     font-size: 20px;
//     margin-bottom: 20px;
//     width: 500px;
//   }
//   .container {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//   }
// }

// @media (min-width: 1440px) {
//   .title {
//     font-size: 46px;
//   }
//   .description {
//     width: 600px;
//     font-size: 22px;
//   }
//   .container {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-evenly;
//   }
// }

// .ButtonConnection {
//   border-radius: 32px;
//   padding: 16px 44px;
//   width: 288px;
//   height: 55px;
//   background: white;
//   font-weight: 500;
//   font-size: 18px;
//   line-height: 130%;
//   color: #000;
//   border: none;
//   cursor: pointer;
// }
// .buttonServices {
//   border: 1px solid white;
//   border-radius: 32px;
//   padding: 16px 44px;
//   width: 288px;
//   height: 55px;
//   background-color: transparent;
//   cursor: pointer;
//   font-weight: 500;
//   font-size: 18px;
//   line-height: 130%;
//   color: white;
// }
// .containerText {
//   display: flex;
//   flex-direction: column;
//   gap: 24px;
// }
// .containerButton {
//   display: flex;
//   gap: 27px;
// }
// .ButtonConnection.buttonServices:hover {
//   transform: scale(1.1);
//   box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
// }
// @keyframes pulse {
//   0% {
//     transform: scale(1);
//   }
//   50% {
//     transform: scale(1.05);
//   }
//   100% {
//     transform: scale(1);
//   }
// }

// .cube {
//   animation: pulse 6s ease-in-out infinite;
//   transition: transform 0.3s ease;
// }

.title {
  font-weight: 700;
  color: white;
  width: 300px;
  font-size: 35px;
  @include media(tablet) {
    font-size: 38px;
    width: 500px;
  }
  @include media(desktop) {
    width: 650px;
    font-size: 42px;
    line-height: 130%;
  }
}

.description {
  font-weight: 500;
  font-size: 18px;
  color: white;
  text-align: left;

  @include media(tablet) {
    font-size: 20px;
  }
  @include media(desktop) {
    font-size: 24px;
    line-height: 136%;
  }
}
.container {
  padding: 10px;
}

.containerText {
  display: flex;
  flex-direction: column;
  gap: 24px;
  @include media(tablet) {
  }
  @include media(desktop) {
  }
}
.containerButton {
  display: flex;
  gap: 27px;
  @include media(tablet) {
  }
  @include media(desktop) {
  }
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  @include media(tablet) {
  }
  @include media(desktop) {
  }
}
