.section {
  padding-bottom: 100px;
  padding-top: 80px;
  @include media(tablet) {
    padding-top: 120px;
  }
}
.title {
  font-weight: 700;
  @include font(32, 42);
  text-transform: uppercase;
  width: 100%;
  max-width: 600px;
  min-height: 70px;
  @include media(tablet) {
    @include font(42, 55);
    width: 500px;
    min-height: 90px;
  }
  @include media(desktop) {
    max-width: 600px;
    min-height: 90px;
    @include font(42, 55);
  }
}

.description {
  font-weight: 500;
  @include font(20, 27);
  color: white;
  text-align: left;
  width: 100%;
  max-width: 600px;
  min-height: 60px;
  @include media(tablet) {
    width: 600px;
    min-height: 70px;
    @include font(24, 33);
  }
}
.container {
  padding: 10px;
}

.containerText {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.containerButton {
  display: flex;
  flex-direction: column;
  gap: 27px;
  @include media(tablet) {
    flex-direction: row;
  }
}

.wrapper {
  @include media(desktop) {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.cube {
  animation: pulse 6s ease-in-out infinite;
  transition: transform 0.3s ease;
}
.cubeFace {
  display: none;

  @include media(desktop) {
    width: 563px;
    height: 568px;
    display: block;
  }
}
