.section {
  padding-bottom: 100px;
  padding-top: 120px;
}
.title {
  font-weight: 700;
  color: white;
  font-size: 32px;
  line-height: 130%;
  text-transform: uppercase;
  @include media(tablet) {
    font-size: 42px;
    width: 500px;
  }
  @include media(desktop) {
    width: 600px;
    font-size: 42px;
  }
}

.description {
  font-weight: 500;
  font-size: 20px;
  line-height: 136%;
  color: white;
  text-align: left;

  @include media(tablet) {
    width: 600px;
    font-size: 24px;
  }
}
.container {
  padding: 10px;
}

.containerText {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.containerButton {
  display: flex;
  flex-direction: column;
  gap: 27px;
  @include media(tablet) {
    flex-direction: row;
  }
}

.wrapper {
  @include media(desktop) {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.cube {
  animation: pulse 6s ease-in-out infinite;
  transition: transform 0.3s ease;
}
.cubeFace {
  display: none;
  @include media(tablet) {
  }
  @include media(desktop) {
    width: 563px;
    height: 568px;
    display: block;
  }
}
