.container {
  max-width: 100%;
  width: 90%;
  border-radius: 8px;
  width: 276px;
  height: 200px;
  box-shadow: 0 0 16px 0 rgba(109, 28, 207, 0.2);
  background: #1d1e27;
  position: relative;
  overflow: hidden;
  z-index: 2;
  @include media(mobile) {
    border-radius: 8px;
    width: 276px;
    height: 200px;
    box-shadow: 0 0 16px 0 rgba(109, 28, 207, 0.2);
    background: #1d1e27;
    position: relative;
    overflow: hidden;
    z-index: 2;
  }
  @include media(desktop) {
    width: 560px;
    height: 220px;
  }
}
.imgWrapper {
  position: absolute;
  left: 50%;
  bottom: -70px;
  transform: translateX(-50%);
  z-index: 3;
}

.icon {
  position: absolute;
  bottom: -10%;
  left: 90%;
  transform: translateX(-50%);
  z-index: 4;
}
.wrapper {
  position: relative;
  width: fit-content;
}
.imgFour {
  @include media(desktop) {
    display: none;
  }
}
.imgFourDesktop {
  display: none;
  @include media(desktop) {
    display: block;
  }
}
