.sectionBlock {
  padding-bottom: 200px;
}
.perfectBlock {
  position: relative;
  display: flex;
  z-index: 1;
  flex-direction: column;
  align-items: center;
}
.gradientBlur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at 50% 30%,
    rgba(115, 14, 216, 0.78),
    rgba(0, 128, 255, 0.23)
  );
  filter: blur(200px);
  z-index: 0;
  pointer-events: none;
}

.description {
  font-family: 'Fixel Display', sans-serif;
  font-weight: 400;
  @include font(24, 31);
  text-transform: uppercase;
  text-align: center;
  color: white;
  position: relative;
  z-index: 1;
  @include media(tablet) {
    @include font(24, 34);
  }
  @include media(desktop) {
    @include font(36, 47);
  }
}
.title {
  font-weight: 700;
}
