.section {
  padding-bottom: 160px;
  padding-top: 60px;
  position: relative;
  z-index: 2;
  @include media(desktop) {
    padding-bottom: 200px;
  }
}
.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  text-transform: uppercase;
  text-align: right;
  margin-bottom: 12px;
  @include media(tablet) {
    font-size: 64px;
    line-height: 130%;
    margin-bottom: 24px;
  }
  @include media(desktop) {
    font-size: 80px;
    line-height: 130%;
  }
}
.SpanTitle {
  background: linear-gradient(30deg, #9624e2 0%, #02079d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.descriptions {
  font-weight: 400;
  font-size: 20px;
  line-height: 146%;
  text-align: right;
  margin-bottom: 40px;
  @include media(tablet) {
    margin-bottom: 40px;
  }
  @include media(desktop) {
    font-size: 24px;
    line-height: 146%;
    margin-bottom: 80px;
  }
}
.SpanDescriptions {
  font-weight: 600;
}
.background {
  position: absolute;
  top: -1%;
  left: 0;
  right: 0;
  height: calc(30% + 100px);
  background-image: url('/image/semicircles.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 16px;
  z-index: -1;
  transform: scaleY(-1);
  @include media(tablet) {
    height: calc(50% + 100px);
    top: -2%;
  }
  @include media(desktop) {
    height: calc(100% + 100px);
    top: -8%;
  }
}
.imageWrapper {
  position: relative;
  display: inline-block;
  &:hover .overlay {
    opacity: 1;
    pointer-events: auto;
  }
}
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(27, 27, 52, 0.4);
  backdrop-filter: blur(32px);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
  opacity: 0;
  pointer-events: none;
  z-index: 2;
}
.portfolioContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

//IMG
.imgHarmonyOne {
  width: 338px;
  height: 483px;
  @include media(tablet) {
    width: 640px;
    height: 914px;
  }
  @include media(desktop) {
    width: 392px;
    height: 560px;
  }
}
.imgFullStackOne {
  width: 338px;
  height: 483px;
  @include media(tablet) {
    width: 640px;
    height: 914px;
  }
  @include media(desktop) {
    width: 392px;
    height: 560px;
  }
}
.imgDietTodayOne {
  width: 338px;
  height: 483px;
  @include media(tablet) {
    width: 640px;
    height: 914px;
  }
  @include media(desktop) {
    width: 392px;
    height: 560px;
  }
}
.imgBookOne {
  width: 338px;
  height: 248px;
  @include media(tablet) {
    width: 640px;
    height: 469px;
  }
  @include media(desktop) {
    width: 600px;
    height: 440px;
  }
}
.imgLearnLingoOne {
  width: 338px;
  height: 248px;
  @include media(tablet) {
    width: 640px;
    height: 469px;
  }
  @include media(desktop) {
    width: 600px;
    height: 440px;
  }
}
