.listItem {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  border-radius: 4px;
  width: 600px;
  height: 294px;
  gap: 10px;
  padding: 32px;
  background: rgba(1, 2, 39, 0.01);

  position: relative;
  overflow: hidden;
  transition: box-shadow 0.5s ease-in-out;

  &:hover {
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.3);
    animation: waveGradient 3s ease-in-out infinite;
  }
}

@keyframes waveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.name {
  font-family: 'Fixel Display', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 136%;
  color: #fff;
}

.review {
  font-family: 'Fixel Display', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 146%;
  color: #ddd;
}

// shared/Icon/Icon.module.scss
.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease;
  /* убираем тут любые fill/stroke — задаём их в .filled/.outline */
}

.filled {
  /* тот самый градиент из sprite.svg */
  fill: url(#star-gradient-filled);
}

.outline {
  stroke: url(#star-gradient-outline);
  fill: none;
}
