.title {
  font-weight: 500;
  font-size: 40px;
  line-height: 130%;
  text-transform: uppercase;
  text-align: right;
  margin-bottom: 80px;
  @include media(tablet) {
    font-size: 64px;
    line-height: 130%;
  }
  @include media(desktop) {
    font-size: 80px;
    line-height: 130%;
  }
}
.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titleSpan {
  font-weight: 700;
  background: linear-gradient(30deg, #9624e2 0%, #02079d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.icon {
  stroke: white;
}
