.myCustomModal {
  box-shadow: 0 0 36px 2px rgba(109, 28, 207, 0.64);
  background: radial-gradient(
      circle at top right,
      rgb(90 12 215 / 32%) 10%,
      rgba(0, 0, 0, 0.1) 50%
    ),
    #010227;
  padding: 26px;
  width: 338px;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  @include media(tablet) {
    width: 640px;
    height: auto;
  }
  @include media(desktop) {
    padding: 32px;
    width: 1023px;
    height: auto;
  }
}
