.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.scrollWrapper {
  width: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-bottom: 8px;
}
.scrollWrapper::-webkit-scrollbar {
  display: none;
}

.containerList {
  display: flex;
  gap: 24px;
  padding: 10px 0;
  /* Добавляем scroll snap */
  scroll-snap-type: x mandatory;
}

.arrows {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.buttonSlid {
  cursor: pointer;
  background: none;
  border: none;
}

.iconLeft,
.iconRight {
  width: 32px;
  height: 32px;
  fill: #d7d0d0;
}
