.sectionReviews {
  padding-bottom: 64px;
  position: relative;
  z-index: 1;
  @include media(tablet) {
    margin-bottom: 180px;
  }
  @include media(desktop) {
    margin-bottom: 200px;
  }
}
.ListReview {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  margin-top: 50px;
}
.whiteWordLeft {
  font-weight: 500;
  @include font(40, 52);
  text-transform: uppercase;
  text-align: right;

  @include media(tablet) {
    @include font(64, 83);
    margin-bottom: 32px;
    text-align: left;
  }
  @include media(desktop) {
    @include font(80, 104);
  }
  .violetWordLeft {
    background: linear-gradient(30deg, #9624e2 60%, #02079d 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.whiteWordRight {
  font-weight: 500;
  @include font(40, 52);
  text-transform: uppercase;
  text-align: right;
  margin-bottom: 64px;
  @include media(tablet) {
    @include font(64, 83);
  }
  @include media(desktop) {
    @include font(80, 104);
    margin-bottom: 80px;
  }
  .violetWordRight {
    background: linear-gradient(30deg, #9624e2 0%, #02079d 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.icon {
  width: 28px;
  height: 28px;
  transform: rotate(45deg);
}
.button {
  background: transparent;
  border: none;
  font-weight: 500;
  @include font(24, 31);
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  gap: 24px;
  margin-left: auto;
}
.background {
  position: absolute;
  top: -350px;
  left: 0;
  right: 0;
  height: calc(50% + 100px);
  background-image: url(/image/grid.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 16px;
  z-index: -1;
  transform: translateY(50px);
  @include media(tablet) {
    top: -300px;
  }
  @include media(desktop) {
    top: -400px;
  }
}
