.sectionReviews {
  margin-bottom: 200px;
}
.ListReview {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  margin-top: 50px;
}
.whiteWordLeft {
  font-weight: 500;
  font-size: 40px;
  line-height: 130%;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 32px;
  @include media(tablet) {
    font-size: 64px;
    line-height: 130%;
  }
  @include media(desktop) {
    font-size: 80px;
    line-height: 130%;
  }
  .violetWordLeft {
    background: linear-gradient(30deg, #9624e2 60%, #02079d 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.whiteWordRight {
  font-weight: 500;
  font-size: 40px;
  line-height: 130%;
  text-transform: uppercase;
  text-align: right;
  margin-bottom: 64px;
  @include media(tablet) {
    font-size: 64px;
    line-height: 130%;
  }
  @include media(desktop) {
    font-size: 80px;
    line-height: 130%;
    margin-bottom: 80px;
  }
  .violetWordRight {
    background: linear-gradient(30deg, #9624e2 0%, #02079d 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.icon {
  width: 28px;
  height: 28px;
  transform: rotate(45deg);
}
.button {
  background: transparent;
  border: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  gap: 24px;
  margin-left: auto;
}
