$primary-font-family: var(--font-family), sans-serif; // "Fixel Display"
$secondary-font-family: var(--second-family), sans-serif; // "Univermag"
$third-font-family: var(--third-family), sans-serif; // "Kyiv*Type Sans"
$font3: var(--font3), sans-serif; // "NAMU"
$font4: var(--font4), sans-serif; // "Unbounded"
$font5: var(--font5), sans-serif; // "Zen Dots"
