$primary-font-family: var(--font-family); // "Fixel Display"
$secondary-font-family: var(--second-family); // "Oswald" (для Zen Dots)
$third-font-family: var(--third-family); // "Raleway" (для Unbounded)
$font3: var(--font3); // "Rubik" (для NAMU)
$font6: var(--font6); // "Kyiv Type Sans"
$font7: var(--font7); // "Univermag"
