.ContentContainer {
  display: flex;
  flex-direction: row;
}

.containerText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;
}
.containerBig {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.title {
  font-weight: 500;
  font-size: 24px;
  line-height: 136%;
}
.textRating {
  font-weight: 400;
  font-size: 16px;
  line-height: 146%;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 146%;
}
.fieldContainer {
  display: flex;
  flex-direction: column;
}
.containerRating {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.checkboxContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ccc;
  margin-bottom: 20px;
  margin-top: 10px;
}
