.section {
  padding-bottom: 160px;
  @include media(desktop) {
    padding-bottom: 200px;
  }
}
.title {
  font-weight: 500;
  position: relative;
  z-index: 2;
  text-transform: uppercase;
  font-size: 64px;
  line-height: 130%;
  margin-bottom: 64px;

  @include media(tablet) {
    font-size: 80px;
    margin-bottom: 80px;
    line-height: 130%;
  }
  @include media(desktop) {
    font-size: 80px;
    line-height: 130%;
  }
}

.titleAnd {
  font-weight: 700;
  background: linear-gradient(34deg, #9624e2 0%, #02079d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
