.section {
  padding-bottom: 200px;
}
.newTitle {
  font-weight: 500;
  font-size: 80px;
  line-height: 130%;
  text-transform: uppercase;
  margin-bottom: 80px;
}

.spanNewTitle {
  font-weight: 700;
  background: linear-gradient(30deg, #9624e2 0%, #02079d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
