.section {
  padding-bottom: 200px;
}
.newTitle {
  font-size: 40px;
  line-height: 130%;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 64px;

  @include media(tablet) {
    font-size: 64px;
    line-height: 130%;
    margin-bottom: 80px;
  }

  @include media(desktop) {
    font-size: 80px;
    line-height: 130%;
  }
}

.spanNewTitle {
  font-weight: 700;
  background: linear-gradient(30deg, #9624e2 0%, #02079d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
