.iconWrapper {
  position: relative;
}

.icon {
  stroke: white;
  position: relative;
  width: 88px;
  height: 88px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.iconNext {
  stroke: white;
  position: absolute;
  top: 12px;
  left: 13px;
  width: 62px;
  height: 62px;
  animation: spin 4s linear infinite;
}
