.logoContainer {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logo {
  object-fit: contain;

  width: 32px;
  height: 34px;

  .footer & {
    width: 50px;
    height: 50px;

    @include media(desktop) {
      width: 60px;
      height: 60px;
    }
  }
}

.logoText {
  font-weight: 800;
  @include font(24, 34);
  text-transform: uppercase;

  .footer & {
    @include font(36, 50);

    @include media(desktop) {
      @include font(40, 56);
    }
  }
}
