.container {
  background: linear-gradient(
      to bottom,
      rgb(0 0 0 / 0%) 0%,
      rgb(0 0 0 / 63%) 20%,
      rgb(0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      #00008b 0%,
      #00004d 30%,
      #2c0bd4 50%,
      #8a2be2 80%,
      #8a2be2 100%
    );
  margin-top: -80px;
  padding-top: 80px;
}
