.header {
  background-color: #1e1e2f;
  padding: 20px 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;

  @include media(tablet) {
    padding: 20px 60px;
    align-items: center;
  }
  @include media(desktop) {
    padding: 20px 108px;
  }
}

.logo {
  font-family: $secondary-font-family;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  @include media(tablet) {
    margin-right: 20px;
  }
}

.menuButton {
  display: flex;
  background: none;
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  @include media(tablet) {
    display: none;
  }
}

.buttonContact {
  display: none !important;
  @include media(tablet) {
    display: block !important;
  }
}

.iconsOpen {
  filter: invert(1);
}
@keyframes slideIn {
  0% {
    right: -100%;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    right: 0;
    opacity: 1;
  }
  100% {
    right: -100%;
    opacity: 0;
  }
}

.nav-list {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100vw;
  height: 100vh;
  background-color: #1e1e2f;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 15px;
  margin: 0;
  padding: 20px;
  z-index: 999;
  overflow: hidden;

  &.open-menu {
    animation: slideIn 0.5s forwards;
  }

  &.closing-menu {
    animation: slideOut 0.5s forwards;
  }
}
.nav-list.open-menu {
  right: 0;
}

.nav-list-item {
  position: relative;
}

.nav-list-link,
.nav-list-span {
  font-family: $primary-font-family;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 146%;
  transition: all 0.3s ease;
  cursor: pointer;
  @include media(desktop) {
    font-size: 18px;
  }
}

.nav-list-link:hover,
.nav-list-span:hover {
  color: #00d4ff;
  transform: scale(1.1);
}

.nav-list-item-active .nav-list-link,
.nav-list-item-active .nav-list-span {
  color: #00d4ff;
  border-bottom: 2px solid #00d4ff;
}

.nav-services {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.submenu {
  list-style: none;
  margin: 10px 0 0 20px;
  padding: 0;
}

.submenu-item {
  padding: 5px 10px;
}

.submenu-link {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

.submenu-link:hover {
  background-color: #00d4ff;
  border-radius: 4px;
}

.mobileHeader {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #333;
  margin-bottom: 20px;
}

.logoMobile {
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.menu-close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
}

.menu-close svg {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.containerButtonTrans {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.iconOpen {
  width: 23px;
  height: 23px;
  fill: #fff;
}

@media (min-width: 768px) {
  .nav-list {
    position: static;
    width: auto;
    height: auto;
    flex-direction: row;
    background-color: transparent;
    padding: 0;
    transition: none;
    overflow: visible;
  }
  .mobileHeader,
  .socialContainer {
    display: none;
  }
  .submenu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #1e1e2f;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    min-width: 180px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1001;
  }

  .submenu-item {
    padding: 5px 15px;
  }

  .submenu-link {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    display: block;
  }

  .submenu-link:hover {
    background-color: #00d4ff;
    border-radius: 4px;
  }
  .nav-services {
    position: relative;
  }
}
