.section {
  padding-bottom: 200px;
  position: relative;
  z-index: 1;
  overflow: visible;

  @include media(tablet) {
    padding-bottom: 280px;
  }
  @include media(desktop) {
    padding-bottom: 320px;
  }
}
.title {
  font-weight: 500;
  font-size: 40px;
  line-height: 130%;
  text-transform: uppercase;
  margin-bottom: 12px;
  @include media(tablet) {
    font-size: 64px;
    line-height: 130%;
    margin-bottom: 24px;
    width: 600px;
  }
  @include media(desktop) {
    font-size: 80px;
    line-height: 130%;
    width: auto;
  }
}
.titleSpan {
  background: linear-gradient(30deg, #9624e2 0%, #02079d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 146%;
  color: #dadbe6;
  margin-bottom: 40px;
  @include media(tablet) {
    font-size: 24px;
    line-height: 146%;
    margin-bottom: 64px;
    width: 600px;
  }
  @include media(desktop) {
    margin-bottom: 80px;
    width: auto;
  }
}
.spanWeight {
  font-weight: 600;
  color: #fff;
}
.spanDescription {
  background: linear-gradient(30deg, #9624e2 0%, #02079d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.containerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.background {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  height: calc(50% + 100px);
  background-image: url('/image/grid.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 16px;
  z-index: -1;
  @include media(desktop) {
    top: 30%;
  }
}
