.myCustomModal {
  box-shadow: 0 0 36px 2px rgba(109, 28, 207, 0.64);
  background: radial-gradient(
      circle at top right,
      rgb(90 12 215 / 32%) 10%,
      rgba(0, 0, 0, 0.1) 50%
    ),
    #010227;
  padding: 26px;
  width: 338px;

  box-sizing: border-box;
  margin: 0 auto;
  @include media(tablet) {
    width: 640px;
    height: auto;
  }
  @include media(desktop) {
    padding: 32px;
    width: 1023px;
    height: auto;
  }
}
.containerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-weight: 500;
  font-size: 32px;
  line-height: 130%;
  text-align: center;
  margin-bottom: 12px;
  @include media(tablet) {
    font-weight: 600;
    font-size: 36px;
    line-height: 140%;
  }
  @include media(desktop) {
    font-size: 40px;
    line-height: 136%;
  }
}
.titleNext {
  font-weight: 500;
  font-size: 32px;
  line-height: 130%;
  text-align: center;
  margin-bottom: 24px;
  @include media(tablet) {
    font-weight: 600;
    font-size: 36px;
    line-height: 140%;
  }
  @include media(desktop) {
    font-size: 40px;
    line-height: 136%;
  }
}
.rocketMan {
  width: 440px;
  height: 220px;
  @include media(tablet) {
    width: 777px;
    height: 389px;
  }
}
