.section {
  padding-bottom: 160px;
  padding-top: 65px;
  @include media(desktop) {
    padding-bottom: 200px;
  }
}
.bigContainer {
  border: 1px solid;
  background: transparent;
  border-image: linear-gradient(to bottom, #adaaaa, #414040) 1;
  padding: 32px;
  overflow: hidden;
  position: relative;
}
.title {
  font-weight: 500;
  @include font(40, 52);
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 64px;
  @include media(tablet) {
    @include font(64, 83);
    margin-bottom: 80px;
  }
  @include media(desktop) {
    @include font(80, 104);
  }
}
.andTitle {
  font-weight: 700;
  background: linear-gradient(30deg, #9624e2 0%, #8808b7 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.description {
  font-weight: 500;
  @include font(24, 33);
  text-align: center;
  margin-bottom: 16px;
}
.subtitle {
  font-weight: 400;
  @include font(16, 23);
  text-align: center;
  margin-bottom: 32px;
}
.containerImg {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 5;
  @include media(tablet) {
  }
  @include media(desktop) {
    justify-content: flex-start;
  }
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.status {
  font-size: 16px;
}

.successStatus {
  color: green;
}

.errorStatus {
  color: red;
}
.rocketWrapper {
  position: relative;
  display: inline-block;
}

.smoke {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 180px;
  background: radial-gradient(
    ellipse at top,
    rgba(255, 255, 230, 0.95) 0%,
    rgba(255, 200, 0, 0.9) 20%,
    rgba(255, 140, 0, 0.7) 60%,
    rgba(255, 60, 0, 0.5) 60%,
    rgba(150, 0, 0, 0.3) 80%,
    rgba(0, 0, 0, 0) 100%
  );
  border-radius: 40% 40% 50% 50% / 20% 20% 80% 80%;
  opacity: 0;
  pointer-events: none;
  filter: blur(10px);
  transition: opacity 0.4s ease;
  z-index: 1;
}

.feedback {
  transition: transform 0.4s ease;
}

.imageHover {
  transform: scale(1.03);
}

.buttonWrapper :global(button:hover) {
  transform: scale(1.05);
  transition: transform 0.2s ease;
}
.cloudBlur {
  position: absolute;
  left: 51%;
  transform: translateX(-50%);
  width: 600px;
  height: 40px;
  background: radial-gradient(
    circle at center,
    rgb(0 123 255),
    transparent 70%
  );
  filter: blur(30px);
  z-index: 0;
  pointer-events: none;
  @include media(tablet) {
    left: 51%;
  }
  @include media(desktop) {
    width: 600px;
    height: 40px;
    left: 25%;
    transform: translateX(-50%);
  }
}
.desktop {
  display: none;
  @include media(desktop) {
    display: block;
  }
}

.tablet {
  display: block;
  position: absolute;
  z-index: 20;
  transform: translate(0%, 0%);
  @include media(tablet) {
    transform: translate(0%, 0%);
  }
  @include media(desktop) {
    display: none;
  }
}
