.button {
  background-color: #ffffff;
  padding: 16px 44px;
  border: none;
  border-radius: 32px;
  font-weight: 500;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  @include font(18, 23);
  z-index: 1;
  @include media(tablet) {
    font-size: 16px;
    padding: 14px 38px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
  }

  @include media(desktop) {
    font-size: 18px;
    padding: 20px 50px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: white;
    transition:
      left 0.4s ease-in-out,
      transform 0.4s ease-in-out;
    transform: skewX(0deg);
  }

  &:hover::before {
    left: 0;
  }

  span {
    position: relative;
    z-index: 1;
    transition: color 0.3s ease-in-out;
  }

  &.variant1 {
    border-radius: 32px;
    padding: 8px 44px;
    width: 100%;
    max-width: 338px;
    height: 39px;
    border: 1px solid transparent;
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    @include media(mobile) {
      padding: 12px 16px;
      box-sizing: border-box;
    }
    @include media(tablet) {
      border-radius: 32px;
      padding: 8px 40px;
      width: 165px;
      height: 37px;
    }

    @include media(desktop) {
      border-radius: 32px;
      padding: 8px 44px;
      width: 288px;
      height: 39px;
    }

    &:hover span {
      color: #000000;
    }
  }

  &.variant2 {
    width: 100%;
    max-width: 338px;
    height: 55px;
    border: none;
    color: #ffffff;
    background: linear-gradient(89deg, #9624e2 50%, #02079d 100%);
    padding: 16px 44px;
    @include media(mobile) {
      box-sizing: border-box;
    }
    @include media(tablet) {
      width: 286px;
      height: 55px;
    }

    &:hover span {
      color: #000000;
    }
  }

  &.variant3 {
    max-width: 338px;
    width: 100%;
    height: 55px;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    padding: 16px 44px;
    @include media(mobile) {
      width: 100%;
      padding: 14px 20px;
    }
    @include media(tablet) {
      width: 286px;
      height: 55px;
    }

    &:hover::before {
      background: #fff;
    }

    &:hover span {
      color: #000;
    }
  }
  &.variant4 {
    border-radius: 32px;
    padding: 10px 40px;
    max-width: 338px;
    width: 100%;
    height: 43px;
    border: 1px solid transparent;
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    @include media(mobile) {
      padding: 12px 16px;
      box-sizing: border-box;
    }
    @include media(tablet) {
      border-radius: 32px;
      padding: 10px 40px;
      width: 338px;
      height: 43px;
    }

    &:hover span {
      color: #000000;
    }
  }
  &.variant5 {
    padding: 16px 44px;
    width: 100%;
    max-width: 286px;

    height: 55px;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;

    @include media(tablet) {
      width: 286px;
      height: 55px;
    }

    &:hover::before {
      background: #fff;
    }

    &:hover span {
      color: #000;
    }
  }
  &.variant6 {
    padding: 16px 44px;
    width: 100%;
    max-width: 286px;
    height: 55px;
    border: none;
    color: #ffffff;
    background: linear-gradient(89deg, #9624e2 50%, #02079d 100%);

    @include media(tablet) {
      width: 286px;
      height: 55px;
    }

    &:hover span {
      color: #000000;
    }
  }
  &.variant8 {
    padding: 16px 44px;
    width: 100%;
    max-width: 338px;
    height: 41px;
    border: none;
    color: #ffffff;
    background: linear-gradient(89deg, #9624e2 50%, #02079d 100%);

    @include media(tablet) {
      width: 337px;
      height: 47px;
    }

    &:hover span {
      color: #000000;
    }
  }
  &.variant9 {
    padding: 16px 44px;
    width: 100%;
    max-width: 338px;
    height: 41px;
    border: none;
    color: #ffffff;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.32) 0%,
      rgba(153, 153, 153, 0.32) 100%
    );

    @include media(tablet) {
      width: 287px;
      height: 47px;
    }

    @include media(desktop) {
      width: 337px;
      height: 47px;
    }

    &:hover span {
      color: #000000;
    }
  }
  &.variant10 {
    padding: 12px 44px;
    width: 100%;
    max-width: 170px;
    height: 42px;
    border: none;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    @include media(tablet) {
      max-width: max-content;
      width: 286px;
      height: 55px;
    }

    @include media(desktop) {
      width: 286px;
      height: 55px;
    }

    &:hover span {
      color: #000000;
    }
  }
  &.variant11 {
    width: 100%;
    max-width: 338px;
    height: 60px;
    border: none;
    color: #ffffff;
    background: linear-gradient(89deg, #9624e2 50%, #02079d 100%);
    box-shadow: 0 0 36px 2px rgba(109, 28, 207, 0.64);
    background: linear-gradient(30deg, #9624e2 0%, #02079d 100%);
    padding: 12px 48px;
    margin-top: 20px;
    @include media(mobile) {
      box-sizing: border-box;
    }
    @include media(tablet) {
      padding: 20px 48px;
      width: 405px;
      height: 61px;
      margin-top: 40px;
    }
    @include media(desktop) {
      padding: 20px 48px;
      min-width: 557px;
      height: 71px;
      margin-top: 60px;
    }
    &:hover span {
      color: #000000;
    }
  }
  &.variant12 {
    max-width: 100%;
    padding: 12px 44px;
    width: 100%;
    max-width: 266px;
    height: 47px;
    border: none;
    color: #ffffff;
    background: linear-gradient(89deg, #9624e2 50%, #02079d 100%);

    @include media(tablet) {
      width: 266px;
      height: 47px;
    }
    @include media(desktop) {
      max-width: 100%;
      width: 344px;
      height: 47px;
    }

    &:hover span {
      color: #000000;
    }
  }
}
