.section {
  padding-top: 100px;
  padding-bottom: 100px;
}
.hero {
  position: relative;
  height: 60vh;
  display: flex;
  align-items: center;
  color: white;

  &ImageWrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &Overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), #0000009c);
    display: flex;
    align-items: center;
    padding: 2rem;
    justify-content: center;
  }

  &Title {
    font-weight: 800;
    font-size: 42px;
    line-height: 146%;
    text-align: center;
  }
}
.backLink {
  background: transparent;
  border: none;
  font-weight: 500;
  @include font(20, 26);
  gap: 10px;
  color: #fff;
  cursor: pointer;
  display: flex;
  margin-left: auto;
  margin-bottom: 70px;
  align-items: center;
  @include media(tablet) {
    @include font(24, 31);
    margin-bottom: 90px;
  }
  @include media(desktop) {
    background: transparent;

    @include font(24, 31);

    margin-left: auto;
    margin-bottom: 100px;
  }
}

.backIcon {
  width: 28px;
  height: 28px;
  transform: rotate(225deg);
  @include media(tablet) {
    width: 36px;
    height: 36px;
  }
}
