.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  background: #000; // фон до загрузки видео
  transition: box-shadow 0.3s ease;
}

.videoWrapper:hover {
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 300px;
  border: none;
}
